@import "tailwindcss";


/* Implements a smooth scroll behavior on the site */
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
  .toggle-btn {
    @apply 
      [&>div::before]:translate-y-0 
      [&>div::before]:rotate-45 
      [&>div::after]:translate-y-0 
      [&>div::after]:-rotate-45 
      [&>div]:bg-transparent;
  }
}


/* Base utility */
.section-min-height {
  min-height: calc(100vh - 68px);
}

/* widescreen: aspect ratio ≥ 3/2 */
@media (min-aspect-ratio: 3/2) {
  .widescreen\:section-min-height {
    min-height: calc(100vh - 68px);
  }
}

/* tallscreen: aspect ratio ≤ 3/2 */
@media (max-aspect-ratio: 3/2) {
  .tallscreen\:section-min-height {
    min-height: calc(100vh - 68px);
  }
}



/* @import './base.css'; */


/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
